*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button{

    padding: 10px 30px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 400;

}

#p1{

    font-size: 20px;
}